<section>
    <table id="todosTable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date</th>
      <th>Make completed</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody id="taskTbody">
    <% @todos.each do |todo| %>
    <% if todo.date == Date.today.to_s%>
      <tr>
        <td><%= todo.id%></td>
        <td><%= todo.add_task %></td>
        <td><%= todo.date %></td>
        <td><button id="done">Done</button></td>
       <% if todo.completed != false%>
        <td><i class="fa-solid fa-circle-check"></i> Completed</td>
        <%elsif todo.completed == false && Date.today > Date.parse(todo.date)%>
        <td><i class="fa-solid fa-circle-info"></i> Pending</td>
        <%else%>
        <td><i class="fa-solid fa-spinner"></i> In progress</td>
      <%end%>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
</section>

<style>
.todayTasks{
    color:rgb(183, 183, 183);
    text-decoration: none;
}

.addTask,.dayLater,.Overdue{
    text-decoration: none;
    color: #000;
}
</style>