/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.main{
    width: 65%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main form{
    width: 90%;
    display: flex;
}

#date{
    padding: 0% 4%; 
    height: 4vh;
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 1vw;
    background-color: #f4f4f4;
    cursor: pointer;
}

#add_task{
    padding: 0% 3%; 
    width: 63%;
    height: 4vh;
    border: none;
    outline: none;
    font-size: 1vw;
}

#btn{
    padding: 0% 5%; 
    height: 4vh;
    background-color: #A3AB78;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    font-size: 1vw;
}

.login{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login a button {
    padding: 0% 30%;
    height: 4vh;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login a{
    text-decoration: none;
}

.login a button i{
    margin-right: 8%;
}

section table{
    width: 100%;
}

.logoDiv h2{
    font-family: 'Roboto', sans-serif;
}