*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cantainer{
  background-color: rgb(255, 140, 0);
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: rgb(216, 216, 216);
    display: flex;
}

.logoDiv{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#todosTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: transparent;
  }
  
  #todosTable td, #todosTable th {
    // border-bottom: 1px solid #ddd;
    padding: 8px;
  }

  #todosTable th:nth-child(1){
    width: 10%;
  }

  #todosTable th:nth-child(2){
    width: 50%;
  }

  #todosTable th:nth-child(3){
    width: 10%;
  }
  
  #todosTable th:nth-child(4){
    width: 20%;
  }
  
  #todosTable th:nth-child(5){
    width: 10%;
  }
  
  #todosTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(0, 0, 0);
  }
  
  #todosTable tr td:nth-child(6){
    border-radius: 0px 10px 10px 0px;
  }

  #done{
    width: 30%;
    padding: 1% 2%;
    border-radius: 100px;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  #delete{
    width: 30%;
    padding: 1% 2%;
    border-radius: 100px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }
